body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    background: #b3e5fc;
    color: #333;
    box-shadow: inset 0 0 10px #555;
    display: flex;
}
.tool-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  background: #fafafa;
  margin: 10px;
  background-color: #fff;
  transition: 1.5s;
}

input[type=number] {
  width: 80%;
}
.title-bar,
.popup-window-title {
  padding: 8px 0;
  background-color: #29b6f6;
  margin-bottom: 5px;
}
.toggle-pos-button {
  padding:8px 5px;
  right: -25px;
  border-radius: 0 100% 100% 0;
  -moz-border-radius: 0 100% 100% 0;
  -o-border-radius: 0 100% 100% 0;
  -webkit-border-radius: 0 100% 100% 0;
  background-color: #29b6f6;
  position: absolute;
}
.toggle-pos-button:hover,
.about-button:hover,
.popup-window-main input[type=submit]:hover,
button:hover {
  color: #fff;
  background-color: #039be5;
}
.tool-bar.closed {
  left: -80px;
  transition: 1.5s;
}
.tools-button,
.file-button {
  float: left;
  padding: 5px 0;
  width: 50%;
  color: #757575;
}
.tools-button:hover,
.tools-button.selected,
.file-button:hover {
  background-color: #757575;
  color: #fff;
}
.divider {
  height: 1px;
  width: 100%;
  background-color: #616161;
  float: left;
  margin: 5px 0;
}
#colorPicker {
  background-color: #fff;
    border: none;
    padding: 0;
    margin: 0;
    border-image-width: 0;
    height: 40px;
    width: 40px;
    margin: 5px 0;
}
.about-button {
  float: left;
  display: inline-block;
  width: 100%;
  color: #333;
  text-decoration: none;
  padding: 5px 0;
  background-color: #29b6f6;
  cursor: pointer;
}
.popup-window {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(225, 245, 254, 0.8);
  visibility: hidden;
}
.popup-window-body {
  width: 100%;
  max-width: 500px;
  background: #fff;
  margin: auto;
  margin-top: 80px;
  position: relative;
}
.visible {
  visibility: visible;
}
.popup-window-close {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 25px;
  height: 25px;
  padding: 2px 1px 0;l
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: #fff;
}
.popup-window-close:hover {
  cursor: pointer;
  color: #29b6f6;
}
.popup-window-main:after {
  clear: both;
  content: "";
  display: table;
}
.popup-window-section {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}
.popup-window-main input,
.popup-window-main label,
button {
  width: 100%;
  display: block;
  margin-top: 5px;
  box-sizing: border-box;
}
.popup-window-main input[type=submit],
button {
  display: block;
  border: none;
  padding: 10px;
  margin-top: 10px;
  background-color: #29b6f6;
  color: #333;
}
button.cancel {
  background-color: #ef5350;
}
button.cancel:hover {
  background-color: #e53935;
}
.popup-window-main table,
table {
  border-collapse: collapse;
  margin: auto;
  background-color: #fff;
  font-size: 1px;
}
.popup-window-main table {
  margin-top: 20px;
}
tr {
  line-height: 1px;
}
td {
  width: 15px;
  height: 15px;
  border: 1px solid #b3e5fc;
  padding: 0;
}

.project-name {
    display: inline-block;
    font-family: Monoton;
    font-size: 45px;
    margin: 0.2em;
    background: -moz-linear-gradient(left, rgb(252,53,50) 0%, rgb(249,252,47) 17%, rgb(47,252,58) 34%, rgb(48,244,255) 51%, rgb(43,40,252) 68%, rgb(252,40,252) 85%, rgb(252,0,0) 100%);
    background: -webkit-linear-gradient(left, rgb(252,53,50) 0%,rgb(249,252,47) 17%,rgb(47,252,58) 34%,rgb(48,244,255) 51%,rgb(43,40,252) 68%,rgb(252,40,252) 85%,rgb(252,0,0) 100%);
    background: linear-gradient(to right, rgb(252,53,50) 0%,rgb(249,252,47) 17%,rgb(47,252,58) 34%,rgb(48,244,255) 51%,rgb(43,40,252) 68%,rgb(252,40,252) 85%,rgb(252,0,0) 100%);
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
